---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import ProjectCard from "@components/ProjectCard";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"bookmark">>;
}

const { page } = Astro.props;
---

<Layout title={`Bookmarks`}>
  <Header activeNav="bookmarks" />
  <Main pageTitle="Bookmarks" pageDesc="My shelf">
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <ProjectCard href={`/bookmarks/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
